<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>React App</title>
</head>
<body>


<link rel="stylesheet" type="text/css" href="/styles/index.bundle.css"/>

<div id="index"></div>
<script type="text/javascript" src="/js/index.bundle.js"></script>

</body>
</html>
